<main>
  <section class="container-form">
    <form action="">
      <h3 class="form-titulo">GSD - Gestão de Sistema de Despesas</h3>

      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Nome de usuário" required />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Senha"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="example-button-row">
        <button mat-flat-button color="primary" routerLink="index">
          Entrar
        </button>
        <!-- <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a> -->
      </div>
    </form>
  </section>
</main>
