.container {
  width: 980px;
  margin: 10px auto;
}

h1 {
  text-align: center;
  margin: 25px;
  color: #131836;
}

mat-tab {
  color: #3f51b5;
}

mat-form-field {
  margin: 15px;
}

// button {
//   font-size: 15px;
//   display: block;
//   margin-left: 15px;
//   margin-top: -15px;
// }

// Colocando fieldset

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 5 / 5;
}
.div2 {
  grid-area: 5 / 1 / 11 / 3;
}
.div3 {
  grid-area: 5 / 3 / 11 / 5;
}

.lista {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
}
.lista th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  background: #f0f0f0;
}

.lista th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  background: #f0f0f0;
}

.lista td {
  border: 1px solid #c0c0c0;
  padding: 5px;
}

th#descricao {
  width: 80%;
}
