.container {
  width: 980px;
  margin: 10px auto;
}

h1 {
  text-align: center;
  margin: 25px;
  color: #131836;
}

mat-tab-group {
  border-radius: 5px;
}

mat-form-field {
  margin: 15px;
}

.button-bottom {
  display: block;
  margin-left: 15px;
  margin-top: -15px;
}

// Colocando fieldset

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 7;
}
.div2 {
  grid-area: 3 / 1 / 7 / 4;
}
.div3 {
  grid-area: 3 / 4 / 7 / 7;
}

.lista {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
}
.lista th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  background: #f0f0f0;
}

.lista th {
  border: 1px solid #c0c0c0;
  padding: 5px;
  background: #f0f0f0;
}

.lista td {
  border: 1px solid #c0c0c0;
  padding: 5px;
}

th#descricao {
  width: 80%;
}
