<div class="container">
  <h1>Perfis</h1>
  <div class="parent">
    <div class="div1">
      <mat-tab-group animationDuration="0ms" backgroundColor="primary">
        <mat-tab label="Pesquisa">
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Id. Perfil</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Descrição</mat-label>
            <input matInput />
          </mat-form-field>
          <button class="button-bottom" mat-raised-button color="primary">
            <mat-icon mat-icon>search</mat-icon> Pesquisar
          </button>
        </mat-tab>
        <mat-tab label="Novo">
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Descrição</mat-label>
            <input matInput />
          </mat-form-field>
          <button class="button-bottom" mat-raised-button color="primary">
            <mat-icon>save</mat-icon> Pesquisar
          </button>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="div2">
        <h3>Listagem</h3>
        <app-cadastro-list-listagem></app-cadastro-list-listagem>
    </div>
    <div class="div3">
      <h3>Eventos</h3>
        <app-cadastro-list-eventos></app-cadastro-list-eventos>
        <!-- <table class="lista">
          <thead>
            <tr>
              <th>Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table> -->
    </div>
  </div>
</div>
