<div class="container-header">
  <span class="container-header-title">Perfil</span>
</div>

<div class="container" id="parent">
  <div class="container-search" id="div1">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Pesquisa">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Id. Perfil</mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descrição</mat-label>
            <input matInput />
          </mat-form-field>

          <button mat-raised-button color="primary">
            <mat-icon>search</mat-icon> Pesquisar
          </button>
        </mat-tab>

        <mat-tab label="Novo">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descrição</mat-label>
            <input matInput />
          </mat-form-field>
          <button mat-raised-button color="primary">
            <mat-icon>save</mat-icon> Pesquisar
          </button>
        </mat-tab>
      </mat-tab-group>
  </div>

  <div class="div2">
    <fieldset>
      <legend>Listagem</legend>
      <table class="lista">
        <thead>
          <tr>
            <th>Id. Perfil</th>
            <th id="descricao">Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tbody>
      </table>
    </fieldset>
  </div>

  <div class="div3">
    <fieldset>
      <legend>Eventos</legend>
      <table class="lista">
        <thead>
          <tr>
            <th>Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>

</div>
