.container {
  // max-width: 1200px;
  width: 980px;
  margin: 10px auto;
}

h1 {
  text-align: center;
  margin: 25px;
  color: #131836;
}

mat-tab-group {
  border-radius: 5px;
}

mat-form-field {
  margin: 15px;
}

// Colocando fieldset

.parent {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 30% 70%;
  grid-template-areas: "div1 div1" "div2 div3" ;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  }

.div1 { grid-area: div1; }
.div2 { grid-area: div2; }
.div3 { grid-area: div3; }

h3 {
  font-size: 0.9em;
  margin: 0 0 5px 0;
  text-indent: 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

th {
  width: 80px;
}

// .mat-form-field {
//   font-size: 14px;
//   width: 100%;
// }

// .container {
//   max-width: 1200px;
//   margin: 0 auto;
// }
