<div class="example-container mat-elevation-z8">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
   Id. Perfil Column
  <ng-container matColumnDef="idPerfil">
    <mat-header-cell *matHeaderCellDef> Id. Perfil </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.idPerfil }} </mat-cell>
  </ng-container>

   Descrição Column
  <ng-container matColumnDef="descricao">
    <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.descricao }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>
