<!-- <mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item routerLink="index">Home</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</mat-toolbar> -->

<article class="container">
  <div class="container-header">
    <span class="container-header-title">Perfil - Perfis</span>
  </div>

  <section class="container-search">
    <div class="container-search-nav">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Pesquisa">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Id. Perfil</mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descrição</mat-label>
            <input matInput />
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Novo"></mat-tab>
      </mat-tab-group>
    </div>
  </section>
</article>
