<div class="container">
  <h4>Leia atentamente algumas questões que envolvem o reembolso:</h4>

  <div class="section" id="section-oculos">
    <h4>Armação de óculos e lentes</h4>
    <p>
      O auxílio para a compra de armação e lentes receitadas é de 75% dos
      valores efetivamente pagos. Entretanto, o reembolso não poderá ultrapassar
      o teto estabelecido de 65% do FPE, por pessoa, por ano (R$ 3.640,00).
    </p>
  </div>

  <div class="section" id="section-viagem">
    <h4>Quilometragem e viagem médica</h4>
    <p>
      Poderão ser apresentados os seguintes comprovantes: combustível,
      licenciamento, IPVA e manutenção do veículo (ex.: revisão, óleo, pneus,
      etc.).
    </p>
    <p>
      Não serão aceitas notas ou cupons fiscais com dados de terceiros (mesmo
      que dependente).
    </p>
    <p>
      O reembolso de quilometragem extra ou médica só será realizado mediante
      autorização prévia de um dos diretores da instituição. A aprovação deverá
      ser impressa e anexada ao relatório (conversa realizada por e-mail ou
      WhatsApp será aceita).
    </p>
    <p>
      As viagens médicas autorizadas terão reembolso de 75% dos gastos com
      pedágio, estacionamento e passagens de ônibus.
    </p>
  </div>

  <div class="section" id="section-med">
    <h4>Medicamentos</h4>
    <p>
      Os lançamentos deverão estar acompanhados da prescrição médica original,
      contendo data e carimbo do médico com sua inscrição. Em caso de
      tratamentos contínuos ou medicações de uso controlado, uma cópia da
      receita deverá ser apresentada (indicar o mês em que o documento original
      foi anexado). O receituário médico deverá ser renovado a cada 12 meses.
    </p>
    <p>
      Existe uma tolerância de 5% do FPE (R$ 280,00) para gastos sem receita
      médica. Em se tratando de vitaminas, é obrigatória a apresentação de
      prescrição médica. Não haverá reembolso para complexos vitamínicos ou
      polivitamínicos (ex.: Centrum ou similares).
    </p>
    <p>
      Mesmo com receita médica, não haverá reembolso para despesas que envolvam:
    </p>
    <div class="lista">
      <ul>
        <li>assistência domiciliar e medicinas alternativas;</li>
        <li>
          tratamentos para infertilidade, queda de cabelo, rugas, manchas de
          pele, celulite, estrias e acnes;
        </li>
        <li>estimulantes sexuais e contraceptivos;</li>
        <li>
          produtos dietéticos, adoçantes, substitutos e complementos
          alimentares;
        </li>
        <li>
          artigos de higiene pessoal, cremes de beleza, bloqueador solar,
          hidratantes, fraldas, algodão, álcool e materiais para curativo.
        </li>
      </ul>
    </div>
  </div>

  <div class="section" id="section-odonto">
    <h4>Odontologia</h4>
    <p>Os atendimentos serão realizados via PROASA Odonto.</p>
  </div>
</div>
