.container {
  // max-width: 1200px;
  width: 980px;
  margin: 0 auto;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
  margin: 25px;
  color: #131836;
}

mat-tab-group {
  border-radius: 5px;
}

mat-form-field {
  margin: 15px;
}

h3 {
  font-size: 0.9em;
  margin: 0 0 5px 0;
  text-indent: 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

th {
  width: 80px;
}

.link-eventos {
  cursor: pointer;
}

.link-eventos:hover{
  background-color: #607d8b77;
}
